@font-face{
    font-family:'KaiseiDecol-Regular';
    src:url("../../public/font/KaiseiDecol-Regular.ttf") format("truetype");
}

@font-face{
    font-family:'NanumMyeongjo-Regular';
    src:url("../../public/font/NanumMyeongjo-Regular.ttf") format("truetype");
}

.footer-container{
    gap: 8px;
    display: flex;
    flex-direction: column;
    background-color: #E7EFF5;
    padding: 52px 72px;
}

.footer-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.footer-title{
    font-size: 1.2rem;
    font-family: 'KaiseiDecol-Regular';
}

.info-text-row{
    display: flex;
    /*flex-direction:row;*/
    gap:16px;
}

.info-text-wrapper,
.footer-subtitle{
    display: flex;
    gap: 12px;
    font-family: 'NanumMyeongjo-Regular';
}

.info-text-1{
    color:#B8BAC6;
}

.info-text-2{
    color: #76767a;
}

.info-text-row{
    display: flex;
    gap: 16px;
}

.info-text-wrapper{
    display: flex;
    gap: 8px;
}