@font-face{
    font-family:'KaiseiDecol-Regular';
    src:url("../../public/font/KaiseiDecol-Regular.ttf") format("truetype");
}

@font-face{
    font-family:'NanumMyeongjo-Regular';
    src:url("../../public/font/NanumMyeongjo-Regular.ttf") format("truetype");
}

/* Banner Component */
.banner {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner-title {
    font-family: "KaiseiDecol-Regular";
    font-size: 128px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* ProductCard */
.product-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: relative;
}

.product-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.product-name {
    font-family: "NanumMyeongjo-Regular";
    font-size: 18px;
    font-weight: bold;
    margin-top: 16px;
    color: #3a3a3a;
}

.product-brand {
    font-family: "NanumMyeongjo-Regular";
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
    color: #3a3a3a;
}

.product-price {
    font-family: "NanumMyeongjo-Regular";
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
    color: #3a3a3a;
}

.new-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e7eff5;
    /* 2ec1ac */
    font-size: 0.8rem;
    font-family: "KaiseiDecol-Regular";
    padding: 10px 5px 10px 5px;
    border-radius: 50px;
    text-align: center;
}

.product-container {
    width: 100%;
    padding: 80px;
    box-sizing: border-box;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 84px;
    width: 100%;
    box-sizing: border-box;
}

.paging {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.page-button {
    width: 3%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background-color: #e7eff5;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.page-button:hover {
    background-color: #d0e0eb;
}

.page-button.active {
    background-color: #d0e0eb;
    font-weight: bold;
    color: #FFFFFF;
}
